.notification {

    .item {
        border-radius: 10px;
        position: relative;
        padding: 10px 20px;
        background: var(--color-light);
        margin: 0 0 30px;

        &.new {
            background: var(--color-warning);
        }

    }
}
